/* CSS variables */
:root {
  --app-width: 1140px;
  --body-background-color: #3b3b3b;
  --input-background-color: #F5F5F5;
  --text-color: #ffffff;
  --border-color: rgba(255, 255, 255, 0.5);
}

/* Reset default browser styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-background-color);
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: var(--app-width);
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

h1,
footer {
  text-align: center;
  padding: 1rem;
}

h1 {
  border-bottom: 1px solid var(--border-color);
}

.wrapper {
  flex: 1 0 auto;
  padding: 1rem 0;
}

input {
  background-color: var(--input-background-color);
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  outline: none;
}

footer {

/* Search */
#search-wrapper {
  width: 100%;
  max-width: var(--content-max-width);
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}

.input-wrapper {
  position: relative;
  flex: 1;
}

#bookmarks-search {
  width: 100%;
  padding-right: 2rem;
}

#btn-clear {
  font-size: 1.25rem;
  color: var(--main-color);
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

#btn-search {
  color: var(--text-color);
  font-size: 1.25rem;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  vertical-align: middle;
}

#btn-search:active,
#btn-clear:active {
  transition: transform 0.1s ease-in-out;
  transform: scale(1.2);
}

/* Bookmarks */
#bookmarks {
  padding: 1rem;
}

.bookmark-item {
  list-style: none;
  padding: 0.5rem;
  box-shadow: var(--border-color) 0px 50px 100px -20px,
    var(--border-color) 0px 30px 60px -30px,
    var(--border-color) 0px -2px 6px 0px inset;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
}

.bookmark-url {
  color: var(--text-color);
  text-decoration: none;
  padding-bottom: 0.25rem;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  word-break: break-all;
}

.bookmark-url i {
  font-size: 0.75rem;
  color: var(--border-color);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.bookmark-url:hover i {
  opacity: 1;
}