/* CSS variables */
:root {
  --app-width: 1140px;
  --content-max-width: 600px;
  --main-color: #3b3b3b;
  --secondary-color: rgba(255, 255, 255, 0.5);
  --warning-color: #ff9d00;
  --success-color: #12eb24;
  --input-background-color: #f5f5f5;
  --text-color: #ffffff;
  --box-shadow: var(--secondary-color) 0px -2px 6px 0px inset;
  --border-radius: 0.5rem;
  --tooltip-background-color: #2b2b2b;
}

/* Reset default browser styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: var(--app-width);
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

h1,
footer {
  text-align: center;
  padding: 1rem;
}

h1 {
  border-bottom: 1px solid var(--secondary-color);
}

.wrapper {
  flex: 1 0 auto;
  padding: 1rem 0;
}

input {
  background-color: var(--input-background-color);
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: var(--border-radius);
}

button {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--text-color);
  padding: 0.5rem;
}

button:hover,
summary i:hover {
  transition: transform 0.1s ease-in-out;
  transform: scale(1.2);
}

button,
input,
a,
summary {
  outline: none;
}

.warning {
  color: var(--warning-color);
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid var(--warning-color);
  border-radius: var(--border-radius);
}

footer {
  border-top: 1px solid var(--secondary-color);
}

/* Tooltip for icons */

.icon-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  background-color: var(--tooltip-background-color);
  color: var(--text-color);
  text-align: left;
  padding: 0.5rem;
  font-size: 0.5rem;
  border-radius: var(--border-radius);
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
}

i:hover .tooltip,
.icon-wrapper:hover .tooltip,
button:hover .tooltip {
  visibility: visible;
}

/* Search */
#search-wrapper {
  max-width: var(--content-max-width);
  margin: 0 auto;
  position: relative;
}

#bookmarks-search {
  width: 100%;
  padding-right: 2rem;
  margin: 2rem 0 1rem;
}

#btn-clear {
  font-size: 1.25rem;
  color: var(--main-color);
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Bookmarks */
#bookmarks {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 1rem;
}

#bookmarks-count {
  color: var(--warning-color);
  text-align: center;
  margin: 1rem 0;
  display: none;
}

.bookmark-item {
  list-style: none;
  padding: 0.5rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.bookmark-url {
  color: var(--text-color);
  text-decoration: none;
  padding: 0.5rem;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: var(--border-radius);
}

.bookmark-url i {
  font-size: 0.75rem;
  color: var(--text-color);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.bookmark-url:hover i {
  opacity: 1;
}

.btn-group {
  display: flex;
}

.btn-group button {
  margin-right: 0.5rem;
}

/* New Bookmark */
summary {
  list-style-type: "";
  font-size: 2rem;
}
/* remove summary arrow marker on all browsers */
summary::-webkit-details-marker {
  display: none;
}

details {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 0.5rem 1rem;
}

details[open] > summary i {
  color: var(--secondary-color);
}

details p {
  text-align: center;
  text-decoration: underline;
}

summary {
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
  border: none;
  border-radius: var(--border-radius);
}

.input-wrapper,
.edit-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  margin-top: 0.5rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.input-wrapper input,
.edit-content input {
  flex: 1;
}

.input-wrapper button,
.edit-content button {
  font-size: 1.25rem;
  margin-left: 1rem;
}

/* Modal */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  z-index: 99;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal {
  position: relative;
  background-color: var(--main-color);
  color: var(--text-color);
  padding: 1.5rem;
  margin: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 100%;
  max-width: var(--content-max-width);
}

.edit-content,
.warning-content,
.delete-confirmation-content {
  margin: 1rem auto;
  display: none;
}

.delete-confirmation-content {
  margin: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--warning-color);
  border-radius: var(--border-radius);
}

.delete-message {
  text-align: center;
}

.buttons-wrapper {
  max-width: 200px;
  margin: 3rem auto 0;
  display: flex;
  justify-content: space-between;
}

#btn-confirm-delete {
  color: var(--warning-color);
  border: 1px solid var(--warning-color);
}

#btn-cancel-delete {
  border: 1px solid var(--input-background-color);
}

#btn-confirm-delete,
#btn-cancel-delete {
  border-radius: var(--border-radius);
}

.close {
  color: var(--text-color);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

/* Success feedback icon */
.success-feedback {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  color: var(--success-color);
  background: var(--tooltip-background-color);
  border: 1px solid var(--success-color);
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  padding: 1rem;
}

/* Footer */
footer a {
  color: var(--text-color);
}
